/* 
html5doctor.com Reset Stylesheet
v1.6.1
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*Main CSS code*/

/*navigation header*/
.main-wrapper {
	margin: 0 auto;
	width: 1000px;
}

a {
	text-decoration: none;
}

body{
	background-color: #668B8B;
}

header nav {
	width: 100%;
	height: 60px;
	background-color: #fff;
}

header nav ul {
	float: left;
}

header nav ul li {
	float: left;
	list-style: none;
}

header nav ul li a {
	font-family: arial;
	font-size: 16px;
	margin-right:10px;
	border-right:0;
	color: #111;
	line-height: 63px;
}

header .nav-login{
	float: right;
}

header .nav-login form{
	float: left;
	padding-top: 15px;
}

header .nav-login form input{
	float: left;
	width: 140px;
	height: 30px;
	padding: 0px 10px;
	margin-right: 10px;
	border: none;
	background-color: #ccc;
	font-family: arial;
	font-size: 14px;
	color: #111;
	line-height: 30px;
}

header .nav-login form button{
	float: left;
	width: 60px;
	height: 30px;
	margin-right: 10px;
	border: none;
	background-color: #f3f3f3;
	font-family: arial;
	font-size: 14px;
	color: #111;
	cursor: pointer;
}

header .nav-login form button:hover{
	background-color: #ccc;
}

header .nav-login a {
	display: block;
	width: 60px;
	height: 60px;
	border: none;
	float: left;
	background-color: #fff;
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 63px;
	cursor: pointer;
}

.main-container {
	padding-top: 40px;
}

.main-container h2{
	font-family: arial;
	font-size: 40px;
	color: #111;
	line-height: 50px;
	text-align: center;
}

/*register.php*/

.signup-form{
	width: 400px;
	margin: 0 auto;
	padding-top: 30px;
}

.signup-form input{
	width: 90%;
	height: 40px;
	padding: 0px 5%;
	margin-bottom: 4px;
	border: none;
	background-color: #fff;
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 40px;
}

.signup-form button{
	display: block;
	margin: 0 auto;
	width: 30%;
	height: 40px;
	border: none;
	background-color: #222;
	font-family: arial;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}

.signup-form button:hover {
	background-color: #111;
}

/*footer.php*/
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

/*Formatting view_topic.php*/

.first_post{
    width: 50%; 
    min-width: 500px; 
    margin-right:auto; 
    margin-left: auto; 
    background: #9ED7D7; 
    padding: 10px;
}
.first_post h2 {
    font-size: 1.5em;
    font-family: Arial;
    text-transform: capitalize;
    padding-bottom: 5px;
}
.first_post>p {
    font-size: 1em;
    font-family: Arial;
    line-height: 1.1;
}
.post{
    width:50%; 
    min-width: 500px;
    margin-right:auto; 
    margin-left: auto; 
    padding: 10px;
    background: #9ED7D7;
}
.post>p {
    font-size: 1em;
    font-family: Arial;
    line-height: 1.1;
}

.post:nth-of-type(odd) {
    background: #fff;
}
.post:nth-of-type(even) {
    background: #ddd;
}
.posted {
    text-align: right;
}

.reply_form input[type=button],.reply_form input[type=submit],.reply_form input[type=reset] {
    font-size: 1em;
    font-family: Arial;
    width: 100px;
    background-color: #f3f3f3;
    color: #111;
    height: 30px;
    border: 0px;
    margin: 5px 10px 0px 0px;
}
.reply_form input[type=button]:hover,.reply_form input[type=submit]:hover, .reply_form input[type=reset]:hover {
    background-color: #ccc;
}
.reply_form {
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 500px;
}
.reply_form label{
    box-sizing: border-box;
    display: inline-block;
    font-weight: bold;
    width: 70px;
    margin-bottom: 10px;
    font-family: Arial;
    font-size: 1em;
    color: #fff;
    vertical-align: middle;
}
.reply_form textarea{
    width: calc(100% - 74px);
    display:inline-block;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    margin: 8px 0px;
    vertical-align: middle;
}
.reply_form input[type=text], .reply_form input[type=email] {
    width: calc(100% - 74px);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    margin: 8px 0px;
}
.reply_form input[type=email]:focus, .reply_form textarea:focus, .reply_form input[type=text]:focus  {
    background-color: #9ED7D7;
}
.reply_form h1 {
	font-family:Arial;
	font-size: 2em;
	color: white;
	padding-top: 10px;
}
.success{
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: 1.5em;
    text-align: center;
    color: black;
    background: #fff;
    background: rgba(255,255,255,0.8);
}
/* Add Answer.php */
.success a{
    color: black;
    text-align: center;
}
.success a:hover, .success a:visited{
    text-decoration: underline;
}
.error{
    font-family: Arial;
    color: red;
    size: 1.5em;
}
/* Forum.php */
.forum {
    border-collapse: collapse;
    font-family: Arial;
    font-size: 1em;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.forum thead td {
    font-weight: bold;
    font-family: Arial;
    font-size: 1.1em;
    text-align: center;
    color: white;
    padding: 20px;
}
.forum tbody td {
    font-family: Arial;
    font-size: 1em;
    line-height: 1.1;
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid gray;
}
.forum tbody td a {
    color: #000;
    padding: 0 5px;
}
.forum tbody td a:hover,  .forum tbody td a:visited{
    background-color: #9ED7D7;
    padding: 0 5px;
}
.forum tbody tr:nth-of-type(odd) {
    background: #fff;
}
.forum tbody tr:nth-of-type(even) {
    background: #ddd;
}
